<div class="user-form-container">
    <h1 class="form-title">Add User</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control" />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control" />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" formControlName="phone" class="form-control" />
      </div>
      <div class="form-group">
        <label for="birthDate">Birth Date</label>
        <input type="date" id="birthDate" formControlName="birthDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="img">Image</label>
        <input type="text" id="img" formControlName="img" class="form-control" />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" formControlName="address" class="form-control" />
      </div>
      <button type="submit" class="submit-button">Add User</button>
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  