<div class="about-section">
    <h1>About Us Page</h1>
    <button class="button" (click)="onShow()">{{Name}}</button>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="background-color: {{Color}};">
    <div class="column">
      <div class="card" >
        <img src={{Src2}}  >
        <div class="container">
          <h2>{{Name2}}</h2>
          <p class="title">{{Id2}}</p>
          <p>max.pan13&#64;hotmail.com</p>
        </div>
      </div>
    </div>
    
    <div class="column" >
      <div class="card">
        <img src={{Src1}}>
        <div class="container">
          <h2>{{Name1}}</h2>
          <p class="title">{{Id1}}</p>
          <p>zoonwar70&#64;gmail.com</p>
        </div>
      </div>
    </div>
    
   
  </div>