<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">username</label>
        <input type="username" id="username" [(ngModel)]="credentials.username" name="username" required class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  